
<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/swastika-kundu-23123617b/"><i class="fab fa-linkedin-in"></i></a>
  <a class="footer-link" href="https://github.com/swas2301?tab=repositories"><i class="fab fa-github"></i></a>
  <a class="footer-link" href="https://www.facebook.com/profile.php?id=100009861545682"><i class="fab fa-facebook"></i></a>
  <p class="copyright">© 2020 Swastika Kundu 卍</p>
</div>
</div>



</body></html>
